<!DOCTYPE html>
<!-- PASSWORD_RESET (UC-AUTH-04). Texts: email.passwordReset.* in i18n/email*.properties -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout.html :: page(#{email.passwordReset.title}, ~{::content})}">
<body>
<th:block th:fragment="content">
    <p th:replace="~{layout.html :: paragraph(#{email.passwordReset.intro})}"></p>
    <th:block th:replace="~{layout.html :: action(${link}, #{email.passwordReset.action})}"></th:block>
    <p th:replace="~{layout.html :: note(#{email.passwordReset.expiry(${expiresAt})})}"></p>
    <p th:replace="~{layout.html :: note(#{email.passwordReset.ignore})}"></p>
</th:block>
</body>
</html>
