<!doctype html>
<!-- PASSWORD_CHANGED (FR-AUTH-16, FR-AUTH-19). Texts: email.passwordChanged.* in i18n/email*.properties -->
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout.html :: page(#{email.passwordChanged.title}, ~{::content})}"
>
  <body>
    <th:block th:fragment="content">
      <p
        th:replace="~{layout.html :: paragraph(#{email.passwordChanged.body(${changedAt})})}"
      ></p>
      <p
        th:replace="~{layout.html :: paragraph(#{email.passwordChanged.notYou})}"
      ></p>
      <th:block
        th:replace="~{layout.html :: action(${forgotPasswordLink}, #{email.passwordChanged.action})}"
      ></th:block>
    </th:block>
  </body>
</html>
